/* HOME MAIN BODY */

/* AMPLIFY FEST MAIN IMAGE */

/* THE LINEUP */

.The-Lineup {
  padding-top: 6em;
  order: 2;
}

.Headliners {
  padding-top: 3em;
  order: 3;
}

.Headliners img {
  box-shadow: rgba(7, 7, 7, 0.548) 0px 22px 70px 4px;
}

.Sponsors {
  padding-top: 4em;
  padding-bottom: 1em;
}

/* SPONSORS CAROUSEL */

@keyframes slide {
  from{
    transform: translateX(0%);
  }
  to{
    transform: translateX(-100%);
  }
}

.logos {  
  overflow: hidden;
  padding: 60px 0;
  white-space: nowrap;
}

.logos:hover .logos-slide{
  animation-play-state: paused;
}

.logos-slide {
  padding-top: 1em;
  padding-bottom: 1em;
  display: inline-block;
  animation: 15s slide infinite linear;
}

.logos-slide img {
  height: 200px;
  margin: 0 100px;
}