
/* FORM CSS */

h2 {
    padding-bottom: 30px;
}

form {
    font-family: "Audiowide", cursive;
    text-align: left;
    
}

form label {
    display: block;
    margin-bottom: 5px; /* Add spacing between labels */
    font-weight: bold; /* Make labels bold for better readability */
}

form input[type="text"],
form input[type="email"],
form select,
form input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;

}

form input[type="text"]:focus,
form input[type="email"]:focus,
form select:focus,
form input[type="number"]:focus {
    background-color: #ff66c428;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}


#form-container {
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 50px;
    border-radius: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 500px;
    position: relative;
    margin-top: 170px;
}


#form-wrapper {
    display: flex;
    align-items: center;
    justify-content: right; /*align form to the left*/
    height: 85vh;
    margin-right: 100px;
    background-image: url(/);
    
  }

form #request-message {
    display: none;
    font-family: "Audiowide", cursive;
    font-weight: bold;
    font-size: 15px;
    color: #ff66c4;
    margin-top: 10px; 
    text-align: center; 
}

form #submit-button {
    display: block;
    margin: 0 auto; 
    padding: 10px 20px;
    background-color: #ff66c4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

form #submit-button:active {
    box-shadow: 0px 0px 5px #ff66c4;
}

main {
    background-image: url('');
    background-size: cover;
  }
