h1 {
  font-family: "Bungee Shade";
  font-size: 50px;
  padding-top: 50px;
  text-align: center;
  color: white;
  padding-bottom: 10px;
}

.barImg {
  padding-top: 25px;
}
.card {
  background-color: white;
  border-radius: 20px;
  border-color: transparent;
}
.card-img-top {
  width: 100%;
  height: auto;
  max-width: 100%;
  padding: 15px;
  border-radius: 20px;
}
.section1 {
  font-family: "audiowide", cursive, bold;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
}
.container {
  font-family: "audiowide", cursive, bold;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
}

button {
  background-color: #ff66c2;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 15px 10px 15px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

button:hover {
  color: black;
  background-color: #ffde59;
}
.btnArea {
  text-align: center;
  padding-bottom: 20px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: black;
}
