/* FULL PAGE */

body {
  background: rgb(252,185,84);
  background: linear-gradient(90deg, rgba(252,185,84,1) 5%, rgba(255,102,196,1) 16%, rgba(252,185,84,1) 71%, rgba(255,102,196,1) 94%);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

  marquee {
    font-family: 'Audiowide', cursive;
    background-color: black;
    color: #ffde59;
    position: fixed;
    z-index: 0;
  }

/* NAV BAR */

.navBar {
  padding: 10px;
  font-family: 'Audiowide', cursive;
}

.navBar a {
  text-decoration: none;
  color: white;
  padding:15px;
}

.navBar a:hover {
  background-color: #ff66c4;
  color: #f6f6f6;
  padding: 12px 16px;
}

/* NAV BAR DROP DOWN */

.dropdownBtn {
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding: 15px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffde59;
  color: #ff66c4;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #ff66c4;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ff66c4;
  color: #f6f6f6;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropdownBtn {
  background-color: #ff66c4;
  color: white;
}

header {
    background: #00000002;
    font-family: 'Audiowide', cursive;
    display: flex;
    justify-content: space-between;
    padding-top: 2em;
    padding-bottom: 15px;
    padding-left: 10px;
    z-index: 1;
    position: fixed;
    width: 100%;
    border-bottom: 1em;
}

/* HOME MAIN BODY */

.grid-container {
  margin-left: 15%;
  display: grid;
  grid-template-rows: 8fr 1fr 4fr; 
  grid-gap: 10px; /* row spacing */
  align-items: center;
  justify-items: center; /* Center horizontally */
}

#Feature-Image {
  padding-top: 5em;
  order:1;
}

#H2 {
  padding-left: 18em;
  padding-bottom: 2em;
  order: 2;
}

#Line-up {
    order:3;
    padding-bottom: 2em;
}

/* Responsive to smaller screens  */
@media screen and (max-width: 768px) {
  .grid-container { 
    grid-template-columns: 1fr; /* Use a single column for smaller screens */
  }

}


/*FAQs image*/

.campsiteImg {
  max-width: 100%;
}
.container {
  position: relative;
}
.text-block {
  position: absolute;
  bottom: 35%;
  right: 35%;

  color: white;
}

/* FAQs Accordian*/

.accordian {
  width: 80% !important;
  z-index: 1;
}
.accordian-item {
  width: 80% !important;
  z-index: 1;
}

.accordian-header {
  width: 80% !important;
  z-index: 1;
}

.accordian-button {
  width: 80% !important;
  z-index: 1;
}

.accordion-collapse {
  width: 80% !important;
  z-index: 1;
}

.accordian-body {
  width: 80% !important;
  z-index: 1;
}

/* FOOTER */

footer {
  bottom: 3vh;
  width: 100%;
  height: 18vh;
  background: #0101019a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 0; /* Above Footer Marquee */
}

#Column1 {
    color: white;
    font-family: 'Audiowide', cursive;
    font-size: small;
    width: 50%;
    padding: 1em;
}

#Column1 li {
    list-style-type: none;
}

#Column2 {
    color: white;
    font-family: 'Audiowide', cursive;
    width: 50%;
    padding: 1em;
    justify-content: space-between;
    text-align: right; /* Align text to the right within Column2 */
}

#Column2 ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#Column2 ul li {
    display: inline-block; /* Make the list items side by side */
    margin-right: 10px; /* Add some spacing between the list items */
}

#Footer-Marquee {
    position: fixed;
    bottom: 0;
    width: 100%; /* Make it span the entire width */
    background-color: black;
    color: #ffde59;
    font-family: 'Audiowide', cursive;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflowing content */
    display: block;
    height: 3vh;
  }

  /* MAP */

  #map {
    position: relative;
    margin: 10px 10px 50px 10px;
  }
  
  /* Popup container */
  .popup {
    position: absolute;
    cursor: pointer;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    border: dotted 3px grey;
    background-color: white;
    border-radius: 6px;
    padding: 10px;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 140px;
    height: 90px;
    font-weight: normal;
    background-color: #FF72B8;
    color: #fff;
    border: solid black;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    bottom: 180%;

    margin-left: -150px;
    
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 40%;
    margin-left: -2px;
    border-width: 30px;
    border-style: solid;
    border-color: #FF72B8 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
  }