header {
    position: relative;
    z-index: 2;
    margin-bottom: 50px;
}

footer {
    width: 100%;
    text-align: center;
    padding: 10px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 150px); 
    background-image: url('Gallery/Green\ lasers..jpg'); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body {
    background: url('Gallery/Green\ lasers..jpg') no-repeat center center fixed;
    background-size: cover;
}

.maintenance-message {
    text-align: center;
    color: white; 
    font-family: "Audiowide", cursive;
}