h1 {
  font-family: "Bungee Shade";
  padding-top: 50px;
  text-align: center;
  color: white;
  padding-bottom: 25px;
}

.barImg {
  padding-top: 25px;
}
.card {
  background-color: white;
  border-radius: 20px;
  border-color: transparent;
}
.card-img-top {
  width: 100%;
  height: auto;
  max-width: 100%;
  padding: 15px;
  border-radius: 20px;
}
.section1 {
  font-family: "audiowide", cursive, bold;
  padding-left: 20px;
  padding-right: 20px;
}
.container {
  font-family: "audiowide", cursive, bold;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
