header {
    position: inherit;
}

footer {
    bottom: 0;
    width: 100%;
    z-index: 2;
}


body {
    background-image: url('Gallery/Colour\ canons..jpg'); /* Remove the backslash */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}


/* FORM CSS */

h2 {
    padding-bottom: 30px;
    text-align: center;
}

form {
    font-family: "Audiowide", cursive;
    text-align: left;
    
}

form label {
    display: block;
    margin-bottom: 5px; /* Add spacing between labels */
    font-weight: bold; /* Make labels bold for better readability */
}

form input[type="text"],
form input[type="email"],
form select,
form input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;

}

form input[type="text"]:focus,
form input[type="email"]:focus,
form select:focus,
form input[type="number"]:focus {
    background-color: #ff66c428;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}


#form-container, #accordion-container {
    background-color: white;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 60%;
    text-align: center;
    height: 700px;
    z-index: 1;
    position: absolute;
    left: 50%; /* Center the containers horizontally */
    transform: translateX(-50%); /* Center the containers horizontally */
}

#form-container {
    position: absolute;
    top: 15%; /* Adjust the top position as needed */
    left: 15%; /* Adjust the left position to move it to the left side */
    width: 40%; /* Adjust the width as needed */
    z-index: 2; 
}

#accordion-container {
    /* Your existing styles for the accordion container */
    position: absolute;
    top: 15%; /* Adjust the top position to match the form */
    left: 75%; /* Adjust the left position to move it to the right side */
    width: 60%; /* Adjust the width as needed */
    z-index: 1; /* Reduce the z-index to ensure it's below the form */
}

#form-wrapper {
    display: flex;
    align-items: center;
    justify-content: center; /* Center the form both horizontally and vertically */
    height: 85vh; /* Ensure the form stays centered */
}

form #request-message {
    display: none;
    font-family: "Audiowide", cursive;
    font-weight: bold;
    font-size: 15px;
    color: #ff66c4;
    margin-top: 10px; 
    text-align: center; 
}

form #submit-button {
    display: block;
    margin: 0 auto; 
    padding: 10px 20px;
    background-color: #ff66c4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

form #submit-button:active {
    box-shadow: 0px 0px 5px #ff66c4;
}

/*ACCORDION MORE */

#accordionExample .accordion-item {
    margin-bottom: 20px;
    margin-top: 20px;
}

#accordionExample .accordion-button {
    background-color: #ffda46;; /* Customize the button background color */
    color: #000000; /* Customize the button text color */
    font-family: "Audiowide", cursive;
}

#accordionExample .accordion-body {
    padding: 20px;
    background-color: #ffffff; /* Customize the body background color */
    border-radius: 5px;
    
}

/* COUNTDOWN */
#countdown {
    float: right;
    margin-top: 10px;
    font-size: 18px;
    color: white
}

#countdown-text {
    font-weight: bold;
    margin-right: 5px;
}

#h2style {
    font-family: "Audiowide", cursive;
}