/* FULL PAGE DESIGN */

body {
  background: rgb(252,185,84);
  background: linear-gradient(90deg, rgba(252,185,84,1) 5%, rgba(255,102,196,1) 16%, rgba(252,185,84,1) 71%, rgba(255,102,196,1) 94%);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

  marquee {
    font-family: 'Audiowide', cursive;
    background-color: black;
    color: #ffde59;
    position: fixed;
    z-index: 0;
  }

  /* HEADER IMAGE + NAVBAR DESIGN */

  header {
    background: #00000002;
    font-family: 'Audiowide', cursive;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 15px;
    z-index: 1;
    position: fixed;
    width: 100%;
    border-bottom: 1em;
  }
  
  .header-image {
    max-width: 400px;
    padding-left: 1em;
  }

/* NAV BAR */

  .navBar {
    display: flex;
    justify-content: flex-end;
    align-items: center; /* Vertically align content within the container */
    padding: 10px;
    font-family: "Bungee Shade";
}

.navBar a {
  text-decoration: none;
  color: #f6f6f6;
  padding: 15px;
  font-family: 'Audiowide', cursive;
}

.navBar a:hover {
  background-color: #ff66c4;
  color: #f6f6f6;
  padding: 12px 16px;
  font-family: 'Audiowide', cursive;
}

/* NAV BAR DROP DOWN */

.dropdown {
  border: none;
}

.nav-item {
  position: relative;
  display: inline-block;
  padding: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  z-index: 100;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #ffde59;
  color: #ff66c4;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.dropdown-menu a {
  color: #ff66c4;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  z-index: 100;
}

.dropdown-menu a:hover {
  background-color: #ff66c4;
  color: #f6f6f6;
  z-index: 100;
}

.dropdown:hover .dropdown-menu {
  display: block;
  z-index: 100;
}

.dropdown:hover .dropdown {
  background-color: #ff66c4;
  color: #ffde59;
  z-index: 100;
}

#NavBar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover; /* Set background-size to cover */
  background-repeat: no-repeat;
  height: 100%;
}

/* NAV BAR SEARCH FUNCTION */

.searchBtn {
  font-family: 'Audiowide', cursive;
  background-color: #ff66c4;
  color: white;
  box-shadow: rgba(74, 77, 77, 0.5) 0 2px 5px 0;
  border-radius: 8px;
  border: none;
  border-color: none;
}

.searchBtn:hover {
  background-color: #ffbd58;
  color: #0e6880;
  transition: ease-in-out;
}

/* search field*/
.d-flex {
  font-family: 'Audiowide', cursive;
}

/* RESPONSIVE TO SMALLER SCREENS  */

@media screen and (max-width: 768px) {
  .grid-container { 
    grid-template-columns: 1fr; /* Use a single column for smaller screens */
  }

}

/*FAQs image*/

.campsiteImg {
  max-width: 100%;
}
.container {
  position: relative;
}
.text-block {
  position: absolute;
  bottom: 35%;
  right: 35%;

  color: white;
}

/* FAQs Accordian*/

.accordian {
  width: 80% !important;
  z-index: 1;
}
.accordian-item {
  width: 80% !important;
  z-index: 1;
}

.accordian-header {
  width: 80% !important;
  z-index: 1;
}

.accordian-button {
  width: 80% !important;
  z-index: 1;
}

.accordion-collapse {
  width: 80% !important;
  z-index: 1;
}

.accordian-body {
  width: 80% !important;
  z-index: 1;
}

/* FOOTER */

footer {
  margin-bottom: 20px; /* Adjust the value to your preference */
}

.footer-text {
  color:white;
  text-decoration:none; /* Remove underline */
  }

  .footer-text:hover {
  color:#ffde59;
  }
  
  .social-link {
  text-decoration:none; /* Remove underline */
  color: white; /* Change the color to black */
  }
  
/* Add hover styles to change the color on hover (optional) */
  
  .social-link:hover {
  color: #ffde59;;  /* Change the color to black on hover */
  }

#Footer-Marquee {
    position: fixed;
    bottom: 0;
    width: 100%; /* Make it span the entire width */
    background-color: black;
    color: #ffde59;
    font-family: 'Audiowide', cursive;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflowing content */
    display: block;
    height: 3vh;
  }