body {
  font-family: "Audiowide", cursive;
  background-color: rgba(0, 0, 0, 0.1);
}

h2 {
  margin: 20px auto 80px;
  font-family: "Bungee Shade";

  font-size: 75px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 2px;
  line-height: 1.5;
  color: white;
}

details {
  width: 75%;
  min-height: 5px;
  max-width: 700px;
  padding: 45px 70px 45px 45px;
  margin: 0 auto;
  position: relative;
  font-size: 22px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;
  box-sizing: border-box;
  transition: all 0.3s;
}

details + details {
  margin-top: 20px;
}

details[open] {
  min-height: 50px;
  background-color: #ff9b9a;
  color: black;

  h2 {
    margin: 20px auto 80px;
    font-size: 38px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 2px;
    line-height: 1.5;
    font-family: "Bungee Shade";
  }

  details {
    width: 75%;
    min-height: 5px;
    max-width: 700px;
    padding: 45px 70px 45px 45px;
    margin: 0 auto;
    position: relative;
    font-size: 22px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    box-sizing: border-box;
    transition: all 0.3s;
  }

  details + details {
    margin-top: 20px;
  }

  details[open] {
    min-height: 50px;
    background-color: #d35c9d;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  }

  details p {
    color: #96999d;
    font-weight: 300;
  }

  summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
  }

  summary:focus {
    outline: none;
  }

  summary:focus::after {
    content: "";
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 0 0 5px rebeccapurple;
  }

  summary::-webkit-details-marker {
    display: none;
  }

  .control-icon {
    fill: rebeccapurple;
    transition: 0.3s ease;
    pointer-events: none;
  }

  .control-icon-close {
    display: none;
  }

  details[open] .control-icon-close {
    display: initial;
    transition: 0.3s ease;
  }

  details[open] .control-icon-expand {
    display: none;
  }
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
}

details p {
  color: white;
  font-weight: 300;
}

summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
}

summary:focus {
  outline: none;
}

summary:focus::after {
  content: "";
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

summary::-webkit-details-marker {
  display: none;
}

.control-icon {
  fill: rebeccapurple;
  transition: 0.3s ease;
  pointer-events: none;
}

.control-icon-close {
  display: none;
}

details[open] .control-icon-close {
  display: initial;
  transition: 0.3s ease;
}

details[open] .control-icon-expand {
  display: none;
}

.contactBtn {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ff66c4;
  color: white;
  box-shadow: rgba(74, 77, 77, 0.5) 0 2px 5px 0;
  border-radius: 8px;
  border: none;
  border-color: none;
}

marquee {
  font-family: "Audiowide", cursive;
  background-color: black;
  color: yellow;
  position: fixed;
  z-index: 3;
}

/* NAV BAR */

.navBar {
  display: flex;
  justify-content: flex-end;
  align-items: center; /* Vertically align content within the container */
  padding: 10px;
  font-family: "Bungee Shade";
}

.navBar a {
  text-decoration: none;
  color: #f6f6f6;
  padding: 15px;
  font-family: "Audiowide", cursive;
}

.navBar a:hover {
  background-color: #ff66c4;
  color: #f6f6f6;
  padding: 12px 16px;
  font-family: "Audiowide", cursive;
}

/* NAV BAR DROP DOWN */

.dropdown {
  border: none;
}

.nav-item {
  position: relative;
  display: inline-block;
  padding: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  z-index: 100;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #ffde59;
  color: #ff66c4;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.dropdown-menu a {
  color: #ff66c4;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  z-index: 100;
}

.dropdown-menu a:hover {
  background-color: #ff66c4;
  color: #f6f6f6;
  z-index: 100;
  color: #ffde59;
}

.dropdown:hover .dropdown-menu {
  display: block;
  z-index: 100;
}

.dropdown:hover .dropdown {
  background-color: #ff66c4;
  color: white;
  z-index: 100;
}

header {
  font-family: "Audiowide", cursive;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 15px;
  padding-left: 10px;
  z-index: 2;
}

/*navbar search function*/

.searchBtn {
  font-family: "Audiowide", cursive;
  background-color: #ff66c4;
  color: white;
  box-shadow: rgba(74, 77, 77, 0.5) 0 2px 5px 0;
  border-radius: 8px;
  border: none;
  border-color: none;
}

.searchBtn:hover {
  background-color: #ffbd58;
  color: #0e6880;
  transition: ease-in-out;
}

/* search field*/
.d-flex {
  font-family: "Audiowide", cursive;
}
/* MAIN BODY */

/* RESPONSIVE TO SMALLER SCREENS  */
@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr; /* Use a single column for smaller screens */
  }
}
/*FAQs image*/

.container2 {
  position: relative;
  width: fit-content;
}

/*.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
}*/
.campsiteImg {
  width: 100%;
  height: auto;
}
h1 {
  display: block;
  position: static;
  text-align: center;

  font-family: "Bungee Shade";
  color: #f6f6f6;
}

/*.text-block {
  display: flex;
  position: relative;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  padding-top: 5vw;
  color: white;
  font-family: "Bungee Shade";
}
*/
/* FOOTER */

#Column1 {
  color: white;
  font-family: "Audiowide", cursive;
  font-size: small;
  width: 50%;
  padding: 1em;
}

#Column1 li {
  list-style-type: none;
}

#Column2 {
  color: white;
  font-family: "Audiowide", cursive;
  width: 50%;
  padding: 1em;
  justify-content: space-between;
  text-align: right; /* Align text to the right within Column2 */
}

#Column2 ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#Column2 ul li {
  display: inline-block; /* Make the list items side by side */
  margin-right: 10px; /* Add some spacing between the list items */
}

.footer-text {
  color: white;
}

.footer-text:hover {
  color: black;
}

.social-link {
  text-decoration: none; /* Remove underline */
  color: white; /* Change the color to black */
}

/* Add hover styles to change the color on hover (optional) */
.social-link:hover {
  color: black; /* Change the color to red on hover */
}

footer {
  background-color: #ff66c3;
}
